.body {
  margin-top: 120px;
  width: 100%;
  height: calc(100vh - 442.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.form {
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.containerElements {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.containerButtons {
  display: flex;
  gap: 10px;
}

@media (max-width: 650px) {
  .form {
    width: 100%;
  }
}
