.title {
  font-size: 36px;
  color: #ffffff;
  font-weight: 400;
}

.spanElement {
  color: #cc4643;
}

.description {
  color: #ffffff82;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media (max-width: 650px) {
  .title {
    font-size: 30px;
  }
}
