.containerSlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f5f3f0;
  padding: 50px 15px;
  text-align: center;
}

@media (max-width: 450px) {
  .containerSlider {
    padding: 50px 5px;
  }
}
