.body {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 75px 150px;
  gap: 50px;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.conatinerTitle {
  width: 450px;
}

.conatinerDescription {
  width: 400px;
}

.image {
  width: 100%;
  height: 350px;
}

.containerRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.itemContainer {
  border-bottom: 1px solid #192d2f;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.itemList {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #192d2f;
}

.itemList:hover {
  color: #b79e63;
}

.service {
  font-size: 24px;
  font-weight: 400;
}

.serviceDescription {
  font-size: 14px;
  color: #1d2939b8;
  opacity: 0;
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  position: relative;
  width: 100%;
  display: flex;
  gap: 30px;
  margin: 30px 0px;
}

.icon {
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  color: #192d2f;
}

.icon:hover {
  color: #b79e63;
}

@media (max-width: 1300px) {
  .body {
    padding: 75px;
  }
}

@media (max-width: 1000px) {
  .body {
    padding: 50px 15px;
  }
}

@media (max-width: 850px) {
  .body {
    flex-direction: column;
  }

  .containerLeft {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .image {
    height: 450px;
  }

  .containerRight {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .conatinerTitle {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .conatinerDescription {
    width: 100%;
  }
}
