.body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: 75px 15px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.profileImg {
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infoProfile {
  width: 400px;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.iconsStatic {
  color: #cc4643;
  font-size: 22px;
}

.formProfile {
  width: 400px;
  height: 500px;
  background-color: #f5f3f0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}

.formInput {
  width: 100%;
  background-color: #f5f3f0;
  outline: none;
  border: none;
  border-bottom: 1px solid #192d2f;
  padding-bottom: 12px;
  color: #192d2f;
}

.formInput:focus {
  border-bottom: 1px solid #cc4643;
}

.formButton {
  border: none;
  background-color: #192d2f;
  color: #ffffff;
  padding: 15px 0px;
  width: 150px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #cc4643;
}

.listSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemContainer {
  border-bottom: 1px solid #192d2f;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #192d2f;
}

.itemList {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemContainer:hover {
  color: #cc4643;
}

.service {
  font-size: 24px;
  font-weight: 400;
}

.serviceTitle {
  font-size: 14px;
  color: #192d2f;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  opacity: 0;
  animation: slideDown 0.5s ease-out forwards;
}

.serviceDescription {
  font-size: 14px;
  color: #1d2939b8;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  opacity: 0;
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  width: 100%;
  display: flex;
  gap: 30px;
  margin: 20px 0px;
}

.paginationIcons {
  font-size: 42px;
  cursor: pointer;
  color: #000000;
}

.paginationIcons:hover {
  color: #cc4643;
}

.icons {
  font-size: 22px;
  cursor: pointer;
  color: #192d2f;
}

.icons:hover {
  color: #cc4643;
}

.resumeButton {
  background-color: #cc4643;
  border: none;
  color: #ffffff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.resumeButton:hover {
  background-color: #192d2f;
}

@media (max-width: 1350px) {
  .container {
    gap: 30px;
  }

  .profileImg {
    width: 33%;
  }

  .infoProfile {
    width: 33%;
  }

  .formProfile {
    width: 33%;
  }
}

@media (max-width: 950px) {
  .container {
    gap: 50px;
    flex-direction: column;
  }

  .profileImg {
    width: 300px;
    height: 350px;
  }

  .infoProfile {
    width: 100%;
  }

  .formProfile {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .profileImg {
    width: 100%;
  }
}
